/* Horizontal Navigation Bar */
.navigationBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .navigationBar li {
    float: left;
  }
  
  .navigationBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navigationBar li a:hover:not(.active) {
    background-color: #2cbe08;
  }
  
  .navigationBar .active {
    background-color: #6509ce;
  }

