.container {
  display: flex;
  flex-direction: column;
  padding: 0rem 0rem 1rem 0rem;
  margin: 0rem 0rem 1rem 0rem;
}

.headingsH1 {
  padding-bottom: 0.5rem;
}

.paragraph {
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  font-size: 1.1rem;
  color: #333;
  text-align: left;
  font-family: "Arial", sans-serif;
}

.list {
  background-color: #fff;
  list-style-type: disc; /* Show bullets */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start; /* Align list items to the left */
}

.listItem {
  padding: 0.5rem 0.5rem; /* Set padding around each list item */
  font-size: 1.1rem;
  color: #333;
  text-align: left;
  font-family: "Arial", sans-serif;
  line-height: 1.5; /* Ensure consistent line height */
  transition: background-color 0.3s ease;
  width: 100%; /* Ensure full width */
  display: flex;
  align-items: center; /* Align bullet and text horizontally */
}
