.container {
  display: flex;
  flex-direction: column;
  padding: 0rem 0rem 5rem 0rem;
  margin: 0rem 0rem 1rem 0rem;
}

.headingsH1 {
  padding-bottom: 2rem;
}

.list {
  background-color: rgb(255, 255, 255);
  /* list-style-type: circle; */
  list-style: none;
  padding: 0rem;
}

.listItem {
  padding: 0rem;
}
